* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}
h2 {
  font-size: 2rem;
  overflow: hidden;
  padding: 10px 0px;
}

h2:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid black;
}
.container {
  max-width: 1200px;
  margin: auto;
}

/* exercise 3 */
.ex3 {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  /* gap:10px; */
  /* justify-content: center; */
}
.img-responsive {
  width: 25%;
  padding: 1%;
}
.img-responsive img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  background-size: cover;
  border-radius: 5px;
}
.img-responsive p {
  color: #fff;
  font-weight: 600;
  font-size: larger;
  text-transform: capitalize;
  position: relative;
  bottom: 20%;
  background: #13121c70;
  padding-left: 5%;
}
/* ------------------------------Tablet--------------------------- */
@media (min-width: 601px) and (max-width: 900px) {
  /* CSS */
  .img-responsive {
    width: 50%;
  }
  .img-responsive p {
  font-size:medium;
}
}
/* ------------------------------MOBILE--------------------------- */

@media only screen and (max-width: 600px) {
  .img-responsive {
    width: 100%;
  }
    .img-responsive p {
  font-size:small;
}
}
