* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414b5c;
  padding-bottom: 2%;
}

body {
  font-family: Arial, sans-serif;
  color: #6f7d93;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  background-color: #fff;
}
.container {
  padding: 3rem 10vw;
  width: 100%;
}

/* HEADER SECTION */

header {
  box-shadow: 0 5px 5px 0px gray;
}
header > .container {
  padding: 1rem 10vw;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2em;
  color: #3b82f6;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
.burger {
  display: none;
}
nav {
  display: flex;
  text-decoration: none;
  float: right;
}
ul {
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  margin: 0 5px;
}
li:last-child {
  margin-right: 0;
}
li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #6f7d93;
}
li a:hover,
li.active > a {
  color: #3b82f6;
}

/* HERO SECTION */

#home {
  background-color: #e5eaf1;
}

.hero {
  display: flex;
}
.hero-text {
  width: 50%;
}
.hero-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img > img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

/* About  SECTION */
#about .container {
  display: flex;
}
.about-content {
  width: 60%;
  padding-right: 5%;
}
h6 {
  padding-bottom: 2%;
  font-size: 1.1em;
}
.about-progress {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* width: 30%; */
}
.bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 2%;
}
.bar1 .progress-fill {
  width: 90%;
}
.bar2 .progress-fill {
  width: 75%;
}
.bar3 .progress-fill {
  width: 60%;
}
.bar4 .progress-fill {
  width: 30%;
}
.progress-bar {
  width: 50%;
  background-color: #e9ecef;
  border-radius: 4px;
  overflow: hidden;
  margin: 0.5rem 0;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.progress-fill {
  /* width: 75%; */
  height: 10px;
  background-color: #3b82f6;
  border-radius: 4px;
  transition: width 0.3s ease;
}

/* PROJECTS SECTION */

#projects {
  background-color: #f7fafc;
  /* text-align: center; */
}
#projects h2 {
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.product-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.product-img > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.product-img > a > img {
  width: 100%;
  height: 160px;
  border-radius: 5px;
}

.button {
  display: block;
  width: 40%;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    90deg,
    #657de8 0%,
    #4969f5 50%,
    #3b82f6 100%
  );
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin-top: 5%;
  font-size: inherit;
}
.content p {
  flex: 1 1 auto;
}
.view > .button {
  width: 50%;
}
.button:hover {
  background-image: linear-gradient(
    90deg,
    #6e65e8 100%,
    #4969f5 50%,
    #3b82f6 0%
  );
}

/* CONTACT SECTION */

.form-container {
  background: white;
  padding: 30px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#contact h2 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  /* text-align: center; */
  margin-top: 0;
  /* margin-bottom: 20px; */
  color: #555;
}
.contact-info {
  display: flex;
  gap: 5%;
}
.contact-form {
  width: 70%;
}
.contact-details {
  width: 30%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-row > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.checkbox-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 14px;
}

.checkbox-group label {
  font-weight: normal;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons button {
  padding: 10px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttons .draft {
  background: #eee;
}

.buttons .submit {
  background: #00cfff;
  color: white;
}
.fa-brands {
  color: #fff;
  background-color: #3b82f6;
  padding: 3%;
  margin-right: 3%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
}
.fa-brands:hover {
  width: 37px;
  height: 37px;
}

.contact-details a {
  text-decoration: none;
  color: #6f7d93;
}
#contact h3 {
  text-align: center;
}
.social-links,
.contact-details p {
  padding-top: 5%;
}
/* FOOTER SECTION */

footer {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  text-align: center;
}

/* ------------------------------MOBILE--------------------------- */

@media only screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  .header nav {
    display: none;
  }
  .header > .burger:hover nav {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  /* HERO */
  .hero,
  #about .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-text,
  .hero-img,
  .about-content,
  .about-progress {
    width: 80%;
  }
  .hero-img,
  .about-progress {
    padding-top: 5%;
  }
  .product {
    width: 100%;
    padding-bottom: 5%;
  }
  .button {
    width: 100%;
  }
  .about-content {
    padding-right: 0;
  }
}
