* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.w-50 {
  width: 50%;
}
body {
  font-family: Arial, sans-serif;
  color: #6f7d93;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  background-color: #fff;
}
.container {
  padding: 3rem 10vw;
  width: 100%;
}

/* HEADER SECTION */

header {
  box-shadow: 0 5px 5px 0px gray;
}
header > .container{ padding: 1rem 10vw;}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2em;
  color: #3b82f6;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

nav {
  display: flex;
  text-decoration: none;
  float: right;
  
}
ul {
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  margin: 0 5px;
}
li:last-child{margin-right: 0;}
li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #6f7d93;
}
li a:hover, li a:focus, li a:active {
  color: #3b82f6;
}



/* HERO SECTION */

#home {
  background-color: #e5eaf1;
}

.hero {
  display: flex;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img > img{
  width: 50%;
  height: auto;
  border-radius: 50%;
}


/* PROJECTS SECTION */

#projects {
  background-color: #f7fafc;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-item {
  background-color: #f3f4f6;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.project-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* FOOTER SECTION */

footer {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  text-align: center;
}


/* MOBILE */

@media (max-width: 600px) {

    }